@page
@model AddActivityModel
@{
}
@{
    Layout = "~/Pages/Shared/DashLayout.cshtml";
    int i = 1;
}
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Add Activity Form -->
    <div class="mb-4">
        <h5 class="mb-0">Add Activity</h5>
    </div>

    <div class="card">
        <div class="card-body">
            <form method="post">
                <!-- Title -->
                <div class="form-group">
                    <label for="Title" class="control-label">Title</label>
                    <input class="form-control" asp-for="activity.Title" />
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="activity.Title"></span>
                </div>

                <div class="form-group">
                    <label for="Description" class="control-label">Description</label>
                    <input class="form-control" asp-for="activity.Description" />
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="activity.Description"></span>
                </div>

                <!-- Start Date -->
                <div class="form-group">
                    <label for="StartDate" class="control-label">Start Date</label>
                    <input type="date" class="form-control" asp-for="activity.startdate" />
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="activity.startdate"></span>
                </div>

                <!-- End Date -->
                <div class="form-group">
                    <label for="EndDate" class="control-label">End Date</label>
                    <input type="date" class="form-control" asp-for="activity.Enddate" />
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="activity.Enddate"></span>
                </div>

                <!-- Capacity -->
                <div class="form-group">
                    <label for="Capacity" class="control-label">Capacity</label>
                    <input type="number" class="form-control" asp-for="activity.Capacity" />
                    <span className="text-red-500 text-sm mt-1" asp-validation-for="activity.Capacity"></span>
                </div>

                <!-- Activity Type -->
                <div class="form-group">
                    <label for="ActivityType" class="control-label">Activity Type</label>
                    <select class="form-control" asp-for="activity.Type">
                        <option value="">Select Activity Type</option>
                        <option value="JournalClub">Journal Club</option>
                        <option value="Workshop">Workshop</option>
                        <option value="Seminar">Seminar</option>
                    </select>

                </div>


                <div class="form-group">
                    <label for="ActivityStatus" class="control-label">Activity Status</label>
                    <select class="form-control" asp-for="activity.status">
                        <option value="">Select Activity Status</option>
                        <option value="Upcoming">Upcoming</option>
                        <option value="Pending">Pending</option>
                        <option value="OnProgress">OnProgress</option>
                        <option value="Finished">Finished</option>
                    </select>
                </div>

                <!-- Mentor -->
                <div class="form-group">
                    <label for="MentorId" class="control-label">Assign Mentor</label>
                    <select asp-for="activity.mentorName" class="form-control">
                        <option value="">Select Mentor</option>
                        <!-- Dynamically populate mentors here -->
                        @foreach (var mentor in Model.mentors) {
                            <option value="@mentor.Name">@mentor.Name</option>
                            
                        }
                    </select>
                </div>

                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
