8@page
@model IEEE_EMB.Pages.Admin.AddSessionModel
@{
}
@{
    Layout = "~/Pages/Shared/DashLayout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Add Session Form -->
    <div class="mb-4">
        <h5 class="mb-0">Add Session</h5>
    </div>

    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <!-- Title -->
                <div class="form-group">
                    <label for="Title" class="control-label">Title</label>
                    <input id="Title" name="Title" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="Description" class="control-label">Description</label>
                    <input id="Description" name="Description" class="form-control" />
                </div>

                <!-- Start Date -->
                <div class="form-group">
                    <label for="Date" class="control-label">Date</label>
                    <input id="Date" name="Date" type="date" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="Video" class="control-label">Video</label>
                    <input id="Video" name="Video" type="file" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="Document" class="control-label">Document</label>
                    <input id="Document" name="Document" type="file" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Task" class="control-label">Task</label>
                    <input id="Task" name="Task" type="file" class="form-control" />
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Save Changes</button>

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
