################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IEEE_EMB/.vs/IEEE_EMB/FileContentIndex
IEEE_EMB/.vs/IEEE_EMB/v17/.suo
IEEE_EMB/.vs/IEEE_EMB/v17/.suo
/IEEE_EMB/.vs/IEEE_EMB/v17
.vs/IEEE_EMB/v17/.wsuo
