@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IEEE BioInformatics</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
   

    
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index">IEEE BioInformatics</a>
                <div class="d-flex search-dashboard">
                    <div class="search-container">
                        <input type="search" placeholder="Search" class="search-input">
                        <button class="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    @if (HttpContextAccessor.HttpContext?.Session.GetString("AuthenticationString") == "Admin" || HttpContextAccessor.HttpContext?.Session.GetString("AuthenticationString") == "Mentor")
                    {
                    @* <button class="btn btn-outline-primary ms-2">Manage Dashboard </button> *@
                        <a asp-page="/Admin/DashBoard" class="btn btn-outline-primary ms-2">Manage Dashboard</a>
                    }
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Index">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Announcments">Announcements</a>
                        </li>
                     
                        @if (Context.Session.GetString("SSN") != null){
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Profile">Profile</a>
                        </li>
                        }
                        @if (Context.Session.GetString("SSN") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Join">Join</a>
                            </li>
                            
                        }
                        @if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext?.Session.GetString("Email")) == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Login">Login</a>
                            </li>
                        }

                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="activitiesDropdown" role="button" data-bs-toggle="dropdown">
                                Activities
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-page="/Seminars">Seminars</a></li>
                                <li><a class="dropdown-item" asp-page="/Workshops">Workshops</a></li>
                                <li><a class="dropdown-item" href="Journal">Journal Club</a></li>
                            </ul>
                        </li>

                        @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext?.Session.GetString("AuthenticationString")))
                        {
                            <li class="nav-item">
                                <form method="post" asp-page-handler="Logout" style="display: inline;">
                                    <button type="submit" class="nav-link btn btn-link">
                                        Logout
                                    </button>
                                </form>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <div style="margin-bottom: 20px;">
            <h3>About Us</h3>
            <p>
                IEEE Bioinformatics is more than just a professional society; it's a vibrant ecosystem that empowers individuals and organizations to make a real difference in the world.

            </p>
        </div>

        <div style="margin-bottom: 20px;">
            <h3>Follow Us!</h3>
            <div>
                <a href="www.facebook.com/IEEEEMBSZC" style="color: #fff; margin: 0 10px; text-decoration: none;">Facebook</a>
                <a href="https://chat.whatsapp.com/JOQ8c1eO6Qg3mfUcuCzQwe" style="color: #fff; margin: 0 10px; text-decoration: none;">Whatsapp</a>
                <a href="https://www.instagram.com/ieee_emb_zc" style="color: #fff; margin: 0 10px; text-decoration: none;">Instagram</a>
               @*  <a href="#" style="color: #fff; margin: 0 10px; text-decoration: none;">LinkedIn</a> *@
            </div>
        </div>

        <div class="container">
            <p>&copy; @DateTime.Now.Year - IEEE BioInformatics</p>
        </div>
    </footer>
    <script src="~/js/tailwind.config.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js"></script>
    <script src="~/js/application.js" asp-append-version="true"></script>


   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>